/* Frontpage
==================================== */

$bg-color: #ff8888;
$stops: 100;
$time: 20s;
$hue-range: 35;

ul.frontpage {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
    a {
      display: block;
      // transition: all .2s ease;
      border: none;
      background-color: $white;
      overflow: hidden;
      .article-img {
        background-blend-mode: multiply;
        background-color: $royal;
        transition: background-color .2s ease;
      }
      .article-title {
        position: relative;
        top: 0;
        opacity: 1;
        transition: opacity .2s ease, top .4s ease;
      }
      .article-source {
        color: $white;
      }
      &:hover {        
        .article-img {
          background-color: $white;
        }
        .article-title {
          top: -20rem;
          opacity: 0;
          color: $royal;
        }
      }
    }
  }
}

.article-source {
  font-weight: normal;
  padding: 1rem; 
  font-size: 1rem;
  .ss-globe {
    display: inline-block;
    margin-right: .5rem;
    font-size: 75%;
  }
}
.article-img,
.article-noimg {
	display: block;
	width: 100%;
	background-position: 50% 50%;
	@include bg-size(cover);
  border: 10px solid $white;
}
.article-title {
	padding: 1rem;
  padding-top: 5rem;
	font-family: $sans;
	font-weight: 900;
	span {
    font-size: 2rem;
    line-height: 2.4rem;
    border: none;
    white-space: pre-line;
    word-spacing: normal;
    word-break: break-word;
    color: $white;
	}
}


.article-noimg {
	background-color: $bg-color;
	-webkit-animation: colorChange $time linear 0s infinite;
			animation: colorChange $time linear 0s infinite;
	a {
		color: $black;
	}
}
@-webkit-keyframes colorChange{
  @for $i from 0 through $stops{
    $old-color: adjust-hue($bg-color, (360/$stops)*$i);
    $new-color: adjust-hue($bg-color, (360/$stops)*$i + $hue-range);
    #{$i}% {
      background: -webkit-linear-gradient(left, $old-color, $new-color);
      background: linear-gradient(to right, $old-color, $new-color);
    }
  } 
}
@keyframes colorChange{
  @for $i from 0 through $stops{
    $old-color: adjust-hue($bg-color, (360/$stops)*$i);
    $new-color: adjust-hue($bg-color, (360/$stops)*$i + $hue-range);
    #{$i}% {
      background: linear-gradient(to right, $old-color, $new-color);
    }
  } 
}
