/* Buttons
============================================== */

a.button,
button.button {
    font-family: $sans;
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding: 0;
    width: auto;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    * {
        cursor: pointer;
    }
    label {
        position: relative;
        @include transition(all .25s ease);
        width: 100%;
        top: 0;
        left: 0;
        padding: 0 1rem; 
    }
    [class*="ss-"] {
        font-family: $icon;
        content: " ";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        font-size: 75%;
        text-align: center;
        @include transition(all .25s ease);
    }
    &:hover {
        [class*="ss-"] {
            left: 0;
        }
        label {
            left: 100%;
        }
    }
    &:active, &:focus {
        outline: none;
        border: none;
    }
    &.button-fluid {
        width: 100%;
        padding: 0;
    }
    &.button-tiny {
        height: 2rem;
        line-height: 2rem;
        [class*="ss-"] {
            line-height: (3rem - .6rem);
        }
        label {
        }
    }
}

$button-colors: (
        cyan $cyan $black,
        yellow $yellow $black,
        black $black white
    );

.button {
  @each $type in $button-colors {
    &.button-#{nth($type, 1)} {
      background-color: #{nth($type, 2)};
      color: #{nth($type, 3)};
      &:hover {
        background-color: lighten(nth($type, 2), 10%);
      }
    }
  }
}