.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  margin: 0;
  @include centering();
  display: none;
  background-color: $white;
  padding: 1rem; 
  box-shadow: 0 2px 4px rgba($black, .2);
  // @include fadeInDown(
  //   $duration: .5s
  // );
  .modal-body {
    // padding: 20px;
  }
  a.close-modal {
    position: absolute;
    top: 0;
    right: 0;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    border: none;
    .ss-delete {
      font-size: 1rem;
    }
    span {
      display: none;
    }
    color: $black;
    background-color: $yellow;
    &:hover {
      color: $yellow ;
      background-color: $black;
    }
    div {
      display: inline;
    }
  }
}

.nydc {
  margin: 2rem 0;
  width: 160px;
  height: 90px;
  @include svg-bg('nydc', $extension: png, $color: transparent, $position: 50% 50%, $repeat: no-repeat)
}