/* Article
==================================== */

article {
    width: 100%;
}

.meta {
    font-size: 18px;
    font-weight: bold;
    font-family: $mono;
}
h2.headline {
    font-family: $serif;
    font-size: 50px;
    line-height: 60px;
    font-weight: bold;
    letter-spacing: -.025em;
    margin: 10px 0 40px 0;
}

.post-text {
    p {
        font-weight: normal;
        font-size: 20px;
        line-height: 34px;
    }
}

.fin {
    display: block;
    margin: 40px auto;
    background-image: url("/images/fin@2x.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 200px;
    height: 54px;
    @include bg-size(50%);
}

.recirc {
    background: $cyan;
    padding: 100px 0; 
    margin-top: 60px;
}

img {
    max-width: 100%;
}