/* Buttons
==================================== */

a.button,
button.button {
    font-family: $sans;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding: 0 20px;
    width: auto;
    height: 60px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    @include transition(all .1s linear);
    &:hover {
        @include scale(1.1);
    }
    &:active {
        @include scale(1);
    }
    &.button-yellow { 
        background-color: $yellow;
        color: $black;
        &:hover {            
        }
        &:active {
            background-color: darken($yellow, 5%);
        }
    }
    &.button-cyan { 
        background-color: $cyan;
        color: $black;
        &:hover {            
        }
        &:active {
            background-color: darken($cyan, 5%);
        }
    }
    &.button-purple { 
        background-color: $purple;
        color: $white;
        &:hover {            
        }
        &:active {
            background-color: darken($purple, 5%);
        }
    }
    &.button-pink { 
        background-color: $pink;
        color: $black;
        &:hover {            
        }
        &:active {
            background-color: darken($pink, 5%);
        }
    }
    &.button-icon {
        label, .ss-icon {
            cursor: pointer;
            display: inline-block;
            vertical-align: middle;
        }
        .ss-icon {
            margin-left: 10px;
            font-size: 80%
        }
    }
    &.button-fluid {
        width: 100%;
        padding: 0;
    }
    &.button-tiny {
        height: 35px;
        line-height: 35px;
        font-size: 14px;
        padding: 0 15px; 
    }
}