/* Frontpage
==================================== */

$bg-color: #ff8888;
$stops: 100;
$time: 20s;
$hue-range: 35;

ul.frontpage {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		list-style: none;
		margin-bottom: 80px;
	}
}
.article-text {}
.article-url {}
.article-img,
.article-noimg {
	display: block;
	width: 100%;
	min-height: 300px;
	margin-bottom: 40px;
	background-position: 50% 50%;
	@include bg-size(cover);
}
.article-title {
	padding: 20px;
	font-size: 40px;
	font-family: $serif;
	font-weight: 900;
}
.article-img {
	a {
		color: $white;
	}
}
.article-noimg {
	background-color: $bg-color;
	-webkit-animation: colorChange $time linear 0s infinite;
			animation: colorChange $time linear 0s infinite;
	a {
		color: $black;
	}
}

@-webkit-keyframes colorChange{
  @for $i from 0 through $stops{
    $old-color: adjust-hue($bg-color, (360/$stops)*$i);
    $new-color: adjust-hue($bg-color, (360/$stops)*$i + $hue-range);
    #{$i}% {
      background: -webkit-linear-gradient(left, $old-color, $new-color);
      background: linear-gradient(to right, $old-color, $new-color);
    }
  } 
}

@keyframes colorChange{
  @for $i from 0 through $stops{
    $old-color: adjust-hue($bg-color, (360/$stops)*$i);
    $new-color: adjust-hue($bg-color, (360/$stops)*$i + $hue-range);
    #{$i}% {
      background: linear-gradient(to right, $old-color, $new-color);
    }
  } 
}
