/* Global
==================================== */

body {
    font-family: $sans;
    color: $grey--1;
}

h1, h2, h3 {
    font-family: $condensed;
    font-weight: bold;
    color: $black;
}

a {
    cursor: pointer;
}

.columns {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    *zoom: 1; 
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

[class*="col-"] {
    width: 100%;
    float: left;
    &:last-child {
        float: right;
        margin: 0 !important;
    }
}

.col-300 {
    max-width: 300px;
}

.col-600 {
    max-width: 600px;
}

.col-3 {
    max-width: 31.334%;
    margin-right: 3%;
    img {
        width: 100%;
    }
}

.text-center {
    text-align: center;
}


.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}