/* Global
==================================== */

* {   
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
  @include box-sizing(border-box);
}

body {
    font-family: $sans;
    color: $black;
    background: $white;
    margin-top: 180px;
}

h1, h2, h3 {
    font-family: $titles;
    font-weight: bold;
    color: $black;
}

a {
    cursor: pointer;
    color: $purple;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.columns {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    @extend %clearfix;
    @include box-sizing(border-box);
}

[class*="col-"] {
    width: 100%;
    float: left;
    padding-right: 4%;
    @include box-sizing(border-box);
    &:last-child {
        float: right;
        padding: 0 !important;
    }
}

.col-1 {
    max-width: 10%;
}
.col-2 {
    max-width: 20%;
}
.col-3 {
    max-width: 30%;
}
.col-4 {
    max-width: 40%;
}
.col-6 {
    max-width: 60%;
}
.col-7 {
    max-width: 70%;
}
.col-8 {
    max-width: 80%;
}
.col-9 {
    max-width: 90%;
}
.col-10 {
    max-width: 100%;
}

.content {
    position: relative;
    z-index: 1;
    background: $white;
    padding: 40px 0;
}

.text-center {
    text-align: center;
}