/* Global
==================================== */

* {   
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}

body {
    font-family: $sans;
    color: $black;
    background-color: random-color(50,150,0.75);
    margin-top: 160px;
}

h1, h2, h3 {
    font-family: $condensed;
    font-weight: bold;
    color: $black;
}

a {
    cursor: pointer;
    color: $purple;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.columns {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
     @extend %clearfix;
}

[class*="col-"] {
    width: 100%;
    float: left;
    &:last-child {
        float: right;
        margin: 0 !important;
    }
}

.col-280 {
    max-width: 280px;
}

.col-300 {
    max-width: 300px;
}

.col-600 {
    max-width: 600px;
}

.col-640 {
    max-width: 640px;
}

.col-3 {
    max-width: 31.334%;
    margin-right: 3%;
    img {
        width: 100%;
    }
}

.content {
    position: relative;
    z-index: 1;
    background: $white;
    padding: 40px 0;
}

.text-center {
    text-align: center;
}