/* Header
==================================== */

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 50px;
    background: $purple;
    // text-align: center;
    .logo {
        float: left;
        a {
            display: block;
            text-indent: -9999px;
            margin: 0;
            padding: 0;
            line-height: 60px;
            width: 120px;
            height: 50px;
            background-image: url('/images/theminute.png');
            background-position: 50% 50%;
            background-repeat: no-repeat;
            @include bg-size(100%);
            @include transition(all .15s linear);
            &:hover {
                text-decoration: none;
            }
        }
    }
    .nydc {
        float: left;
        color: $yellow;
        height: 50px;
        line-height: 46px;
        margin-left: 20px;
        display: inline-block;
        small, a {
            display: inline-block;
            vertical-align: middle;
        }
        a {
            margin: 0 5px;
            width: 40px;
            height: 40px;
            img {
                width: 100%;
            }
        }
    }
    .tagline {
        float: right;
        font-weight: bold;
        display: inline-block;
        height: 50px;
        line-height: 46px;
        color: $white;
        .button {
            margin-left: 20px;
            display: inline-block;
        }
    }
}

.logo-fade {
    @include scale(.5);
}