/* Header
==================================== */

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 160px;
    background: $purple;
    text-align: center;
    h1.logo {
        text-align: center;
        margin: 20px 0 0;
        line-height: 60px;
        @include transition(all .15s linear);
        a {
            font-size: 44px;
            font-weight: bold;
            text-transform: uppercase;
            color: $cyan;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .tagline {
        font-weight: bold;
        display: inline-block;
        margin-right: 20px;
        color: $white;
    }
    .button {
        display: inline-block;
    }
}

.logo-fade {
    @include scale(.5);
}