/* Mixins
==================================== */

/* Typography */
$sans: 'Apercu', Helvetica, Arial, sans-serif;
$serif: 'Playfair Display', serif;
$condensed: 'Apercu', Helvetica, Arial, sans-serif;
$titles: 'Apercu', Helvetica, Arial, sans-serif;
$mono: "Apercu Mono", Courier;

/* Colors */
$purple:                    #5E66A9;
$yellow:                    #FFF961;
$black:                     #2C2C2C;
$white:                     #FFFFFF;
$cyan:                      #78F8DE;
$pink:                      #F7D3F4;
$grey--1:                   #484D4B;

/* Social */
$facebook:                  #3B5998;
$twitter:                   #55ACEE;
$tumblr:                    #35465C;
$reddit:                    #5F99CF;
$digg:                      #000000;
$googleplus:                #DD4B39;
$whatsapp:                  #34AF23;
$pinterest:                 #CC2127;


/* Clearfix */
%clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content:'';
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}


/* Radius */
@mixin radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

/* Opacity */
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}


/* Background Size */
@mixin bg-size($bg-size) {
  -webkit-background-size: $bg-size;
     -moz-background-size: $bg-size;
      -ms-background-size: $bg-size;
       -o-background-size: $bg-size;
          background-size: $bg-size;
}

/* Box Sizing */
@mixin box-sizing($box-sizing) {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

/* Box Shadow */
@mixin box-shadow($shadow1, $shadow2:false, $shadow3:false, $shadow4:false, $shadow5:false) {
 $params: $shadow1;
  @if $shadow2 
    { $params: $shadow1, $shadow2; }
    @if $shadow3 != false
      { $params: $shadow1, $shadow2, $shadow3; }
      @if $shadow4 != false
        { $params: $shadow1, $shadow2, $shadow3, $shadow4; }
        @if $shadow5 != false
          { $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5; }
  -webkit-box-shadow: $params;
     -moz-box-shadow: $params;
      -ms-box-shadow: $params;
       -o-box-shadow: $params;
          box-shadow: $params;
}

/* SVG */
@mixin svg-bg($name, $extension: png, $color: transparent, $position: 50% 50%, $repeat: no-repeat) {
  background: url(../images/svg/#{$name}.#{$extension}) $color $position $repeat;
  background: none, url(../images/svg/#{$name}.svg) $color $position $repeat;
  @include bg-size(cover);
}

/* Transition */
@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
      -ms-transition: $args;
       -o-transition: $args;
          transition: $args;
}

/* Transforms */
@mixin transform($transforms) {
  -webkit-transform: $transforms;
     -moz-transform: $transforms;
      -ms-transform: $transforms;
       -o-transform: $transforms;
          transform: $transforms;
}
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
@mixin scale($scale) {
   @include transform(scale($scale));
}
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
@mixin transform-origin ($origin) {
  -webkit-transform-origin: $origin;
      moz-transform-origin: $origin;
      -ms-transform-origin: $origin;
       -o-transform-origin: $origin;
          transform-origin: $origin;
}

/* Animations */
@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }  
  @-ms-keyframes $animation-name {
    @content;
  }
  @-o-keyframes $animation-name {
    @content;
  }  
  @keyframes $animation-name {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
     -moz-animation: #{$str};
      -ms-animation: #{$str};
       -o-animation: #{$str};
          animation: #{$str};      
}