/* Mixins
==================================== */

$sans: "Cooper Hewitt", Helvetica, Arial, sans-serif;
$condensed: "Antonio";
$titles: "Cambo", serif;
$mono: "Source Code Pro", Courier;

$lemon:                     #E0F635;
$black:                     #27282D;
$white:                     #FFFFFF;
$teal:                      #21ADC2;
$pink:                      #EF5C9E;
$grey--1:                   #484D4B;

$facebook:                  #3B5998;
$twitter:                   #55ACEE;
$tumblr:                    #35465C;
$reddit:                    #5F99CF;
$digg:                      #000000;
$googleplus:                #DD4B39;