/* SVG
==================================== */
.play-video {
	@include svg-bg('play-video', $repeat: no-repeat);
	width: 60px;
	height: 60px;
}

.video-button {
	svg, path {
		@include transition(all .1s linear);
		fill: $teal;
	}
	&:hover {
		cursor: pointer;
		svg {
			@include scale(1.1);
			path {
				fill: $black;
			}
		}
	}
}