/* SVG
==================================== */

.play-video {
	@include svg-bg('play-video', $repeat: no-repeat);
	width: 60px;
	height: 60px;
}

.video-button {
	img {
		width: 400px;
		height: 400px;
		background-color: $black;
		fill: $teal;
	}
	path {
		fill: $teal;
	}
}