*, html {
    font-size: 16px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
    @include box-sizing(border-box);
}
body {
    font-family: $sans;
    color: $black;
    background: $white;
    margin-top: 6rem;
}
a {
    cursor: pointer;
    color: $black;
    text-decoration: none;
    transition: all .2s ease;
    &:hover {
    }
}
img {
    max-width: 100%;
}
.content {
    position: relative;
    z-index: 1;
    color: $black;
    padding: 40px 0;
}
