h1, h2, h3, h4, h5 {
  line-height: initial;
  margin: 0;
}
h1, h2, h3 {
    font-family: $serif;
}
h4, h5 {
    font-family: $sans;
}
h1 {
  font-size: 4rem;
  line-height: 4.5rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
p {
  font-size: 1.25rem;
  line-height: 2rem;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}