.columns
    .col-600
        .post-head
            .meta
                small Translated: June 21 2014
            h2.headline          
                | Synth polaroid bitters chillwave pickled. Vegan disrupt tousled, Portland

        article
            .post-text
                p
                    | Synth polaroid bitters chillwave pickled. Vegan disrupt tousled, Portland keffiyeh aesthetic food truck sriracha cornhole single-origin coffee church-key roof party. Leggings ethical McSweeney's, normcore you probably haven't heard of them Marfa organic squid. Slow-carb 90's ennui Godard pug asymmetrical, narwhal VHS Tonx High Life. Retro dreamcatcher synth Godard pickled Etsy jean shorts beard, pour-over fanny pack mumblecore. Quinoa retro aesthetic polaroid, Williamsburg American Apparel plaid small batch. Blue Bottle Vice fanny pack, Williamsburg roof party Wes Anderson mlkshk seitan brunch before they sold out lo-fi XOXO tofu scenester small batch.
            .fin
            .text-center
                h3
                    | Share This
            .shareability            
                span
                    .network.twitter.tt(title="Tweet this")
                        .tooltip
                            | Tweet this
                        .ss-social.ss-twitter
                span
                    .network.facebook.tt(title="Share on Facebook")
                        .tooltip
                            | Share on Facebook
                        .ss-social.ss-facebook
                span
                    .network.tumblr.tt(title="Share on Tumblr")
                        .tooltip
                            | Share on Tumblr
                        .ss-social.ss-tumblr
                span
                    .network.reddit.tt(title="Share on Reddit")
                        .tooltip
                            | Share on Reddit
                        .ss-social.ss-reddit
                span
                    .network.digg.tt(title="Digg this")
                        .tooltip
                            | Digg this
                        .ss-icon.ss-like
                span
                    .network.googleplus.tt(title="Share on Google+")
                        .tooltip
                            | Share on Google+
                        .ss-social.ss-googleplus
    .col-300
        .post-meta
            h4
                | Original Article
            .origin
                div Origin: 
                    a(href="#") Colgne, Germany
                div 
                    | Language: 
                    a(href="#") German
            a(href="#").button.button-blue.button-icon.button-fluid
                label Read original post
                .ss-icon.ss-right

        h4
            | Native Speaker
.recirc
    .columns    
        .text-center
            h3
                | Related 
                u
                    | German
                | &nbsp;Stories
        .col-3
            img(src="http://placehold.it/300x240")
        .col-3
            img(src="http://placehold.it/300x240")
        .col-3
            img(src="http://placehold.it/300x240")
