header: .columns: .col-12
    .logo
        a(href="/") The Minute
    .tagline 
        span The Best International News Translated Into English Daily
        a(rel="modal:open", href="#about").button.button-yellow.button-tiny 
            .ss-navigateright
            label Learn More