header
    .navigate-stories        
        .prev
            a(href="#")      
                .ss-icon.ss-left
                strong 
                    | Prev
                    br
                    | Story
        .next
            a(href="#")
                strong 
                    | Next
                    br
                    | Story
                .ss-icon.ss-right
            
    .text-center
        h1
            | The Minute