header: .columns: .col-12
    .logo
        a(href="/") The Minute
    //- .nydc
    //-     small a
    //-     a(href="http://www.nydata.co")
    //-         img(src="/images/nydc.png")
    //-     small production

    .tagline 
        span The Best International News Translated Into English Daily
        a(href="/about").button.button-yellow.button-tiny Learn More