.recirc
    .columns    
        .text-center
            h3
                | Related 
                u
                    | German
                | &nbsp;Stories
        .col-3
            img(src="http://placehold.it/300x240")
        .col-3
            img(src="http://placehold.it/300x240")
        .col-3
            img(src="http://placehold.it/300x240")
